.audio-call-container {
  width: 100%;
  min-height: 100%;
  background: url(../../img/bg-audiocall.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.audio-call-container > h1 {
  color: var(--color-font);
  font-family: "TT Phobos Inline";
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  text-align: center;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

.reset {
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
  background: center / contain no-repeat url(../../img/repeat.png);
}

.reset:hover {
  transform: rotate(+30deg);
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.answer-block {
  display: flex;
  justify-content: space-around;
}

.answer {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 250px;
  height: 40px;
  margin: 10px 10px 10px 10px;
  border: 3px solid #278d9f;
  border-radius: 30px;
  color: var(--color-font);
  background-color: rgba(31,112,127,.3);
  cursor: pointer;
}

.answer:hover {
  background-color: black;
  color: whitesmoke;
}

.question-ac {
  align-self: center;
  width: 40px;
  height: 40px;
  background: url(../../img/sound.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}

.result {
  margin: 10px 10px 10px 10px;
  border: solid 2px;
  border-radius: 5px;
  border-color: black;
  background-color: var(--color-font);
}

.resultTable-ac {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin: 3px 10px 3px 10px;
}

.resultTable-ac:nth-child(even) {
  color: var(--color-font);
  background-color: #0f7dc6;;
}

.button-audio-call {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 250px;
  height: 40px;
  margin: 20px auto 160px;
  border: 3px solid #278d9f;
  border-radius: 30px;
  color: var(--color-font);
  background-color: rgba(31,112,127,.3);
  cursor: pointer;
}

.resultTable {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin: 3px 10px 3px 10px;
}

.hidden {
  visibility: hidden;
}

.correct, .correct:hover {
  background-color: green;
}

.incorrect, .incorrect:hover {
  background-color: red;
}

.plus {
  width: 15px;
  background: center / contain no-repeat url(../../img/plus+.png);
}

.minus {
  width: 15px;
  background: center / contain no-repeat url(../../img/minus-.png);
}
