.word-card {
  color: black;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  position: relative;
  background-color: var(--color-bg-light);
  transition: box-shadow 0.25s;
  border-radius: 5px;
  animation-name: Appearance;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.card-img{
  object-fit: cover;
}

.eng-word {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.card-wrapper > audio {
  height: 30px;
  width: 100%;
}

.btn-add-word {
  margin: 0 0 0 50px;
}