* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-bg-hover: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: var(--color-bg);
  background-image: url(https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/assets/images/evening/02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgba(44, 53, 54, 0.3);
  padding: 23px 0;
  text-align: center;
}

header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  transition: 0.5s;
}

header > a:hover {
  color: #fff;
  border-bottom: 4px solid #fff;
  border-radius: 2px;
  background-color: rgba(44, 53, 54, 0.2);
}

.footer-container {
  padding: 6px;
  color: #fff;
  font-size: 12px;
  background-color: rgba(44, 53, 54, 0.3);
}

h1 {
  text-align: center;
}

.container {
  min-height: calc(100vh - 105px);
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
} 

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
